* {
	margin: 0;
	padding: 0;
	font-family: 'Cabin Condensed', sans-serif;
}

#navbar {
	overflow: hidden;
	background-color: #FFFFFF;
	width: 100%;
	margin: 0 auto;
	position: sticky;
	top: 0;
}

#navbar a {
	float: left;
	display: inline-block;
	text-decoration: none;
	color: black;
}

#navbar a:hover {
	/*border-bottom: 3px solid blue;
	margin-top: -3px;
	*/
	color: #2377ff;
}

#nav-border-wrapped {
	border-top: 3px solid #2377ff;
}

.nav-links {
	padding: 25px;
}

.nav-buttons {
	text-align: center;
}

.wrapper {
	width: 70%;
	margin: 0 auto;
}

#banner {
	width: 100%;
	margin: 60px auto;
}

#banner-logo {
	text-align: center;
}

#banner-logo-link {
	text-decoration: none;
	color: black;
	font-family: Lithos Pro Black;
}

#content1 {
	background-image: url(bilder/content1.jpg);
	height: 275px;
	width: 100%;
}

.rounded-image {
	border-radius: 50%;
	width: 225px;
	margin: 0 auto;
}

#content2 {
	margin: 100px auto;
	overflow: hidden;
}

.content2-img {
	float: left;
	width: 33.33%;
	margin: 0 auto;
	text-align: center;
}

#rounded-wrapper {
	width: 70%;
	margin: 0 auto;
}

.firstpage-links {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.image-buttons {
	text-decoration: none;
	color: #1a1a1a;
}

#content3 {
	background-image: url(bilder/content3.jpg);
	height: 275px;
	width: 100%;
}

#content4 {
	width: 100%;
}

#content4-2 {
	margin: 50px auto;
}

.content4-2-info {
	display: block;
	width: 33.33%;
	float: left;
	margin-bottom: 50px;
}

#content4-2-info3 {

} 

#content4-2-rubrik {
	margin-bottom: 20px;
}

.content4-2-text-wrapper {
	width: 75%;
}

#footer {
	width: 100%;
	background-color: #1a1a1a;
	position: relative;
	bottom: 0;
	clear: both;
	height: 275px;
	color: #f2f2f2;
}

.footer-block {
	width: 33.33%;
	float: left;
	margin: 20px auto;
}

.footer-block a {
	text-decoration: none;
	color: #f2f2f2;
}

#footer-block2 {
	display: flex;
	justify-content: center;
}

.footer-block-wrapper2 ul {
	list-style: none;
	font-size: 30px;
	margin: 0 auto;
	float: left;
}

.footer-block-wrapper1 {
	margin-top: 10px;
}

.footer-block-wrapper2 {
	margin-top: 10px;
}

.footer-block-wrapper2 li {
	float: left;
}

.footer-block-wrapper1 li {
	color: #f2f2f2;
	list-style: none;
	margin-bottom: 30px;
}

.footer-block-wrapper1 i {
	margin-right: 20px;
	font-size: 25px;
	vertical-align: middle;
	background-color: #333333;
	padding: 10px;
	width: 25px;
	text-align: center;
	border-radius: 50%;
}

.footer-block-wrapper1 span {
	font-size: 15px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

#footer-block2-icons {
	width: 100%;
	display: flex;
	justify-content: center;
}

#footer-logo h2 {
	font-family: "Lithos import";
	font-size: 250%;
	width: 100%;
}

.footer-block-wrapper3 {

}

.footer-block-wrapper3 ul {
	list-style: none;
}

.footer-block-wrapper3 li {
	margin-top: 10px;
	text-align: right;
}

.footer-block-wrapper3 ul li a {
	font-size: 15px;
	font-family: Arial, sans-serif;
}

.footer-block-wrapper3 a:hover {
	text-decoration: underline;
}

.fab {
	float: left;
	margin: 10px 10px;
	width: 30px;
	text-align: center;
}

@media screen and (max-width:768px) {

	#banner {
		margin: 20px auto;
	}

	#nav-first-link {
		padding-left: 0;
	}

	#content1 {
		display: none;
	}

	.content2-img {
		float: left;
		width: 100%;
		margin: 0 auto;
	}

	#content2 {
		margin: 20px auto;
	}

	#nav-border-wrapped {
		border: none;
	}

	#navbar {
		border-top: 3px solid #2377ff;
	}

	.wrapper {
		width: 90%;
	}

	.content2-img img {
		margin-top: 20px;
	}

	#content3 {
		display: none;
	}

	.content4-2-text-wrapper {
		width: 100%;
	}

	.content4-2-info {
		width: 100%;
	}

	.footer-block {
		width: 100%;
	}

	#footer {
		height: 500px;
	}

	#footer-block3 {
		display: none;
	}

}


@font-face {
    font-family: "Lithos import";
    src: url("Lithos_Pro_Black.ttf");
}

#banner-logo a {
    font-family: "Lithos import";
    font-size: 200%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}